<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.DepartmentMapper" >
 
      <!-- 查询 -->
    <select id="selectDepartment" resultType="Department">
        SELECT dName FROM department  where dName =#{name}
    </select>   
   <select id="findClinic" resultType="Clinic">
        SELECT dName,cName FROM clinic  
    </select>  
  
  
</mapper>